html,body
	margin: 0
	padding: 0

header
	height: 740px

	#logo
		height: 183px
		width: 183px
		margin: 0 auto
		padding: 120px 0 0
		a
			background-image: url('../img/logo.png')
			display: block
			height: 183px
			width: 183px
			text-align: center
			text-indent: -99999px

	&.frontpage
		background-image: url('../img/bg.jpg')
		background-size: cover
		text-align: center

